/* Put your CSS here! */
body {
  background-color: black;
  font-family: sans-serif;
  margin: 10px 20px;
}

header {
  text-align: center;
}

#topnav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: fixed;
  float: left;
  left: 34%;
}

#topnav li{
  display: inline;
  margin: 0;
  margin-top: 0.5em;
}


#topnav a{
  display: inline-block;
  padding: 30px;
}

a.top{
  text-decoration: none;
  padding: 30px;
  font-size: 1.5em;
  color: white;
  border-radius: 20px;
  border: 2px solid white;
  transition-duration: 0.5s;
}

a.intext{
  text-decoration: none;
  color: orange;
}

a.top:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}

#selected {
  color: black;
  background-color: white;
  text-decoration: none;
}

article {
  text-align: left;
  color: white;
  line-height: 1.4;
  margin: 2em auto 5em;
  padding: 40px;
  max-width: 700px;
}

.marginauto {
  margin: 10px auto 20px;
  display: block;
}
