/* Put your CSS here! */
body {
  background-color: black;
  text-decoration: none;
  margin: 50px;
  line-height: 2;
  font-size: 1.5rem;
  color: white;
}

header {
  text-align: center;
}

nav {
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: black;
}

.button1 {
  display: inline-block;
  border: 0px;
  line-height: 4;
  padding: 20px 50px;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: 2px solid white;
  transition-duration: 0.5s;
}

.button1:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.button1:active {
  color: black;
  background-color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}
