/* Put your CSS here! */
.button {
  border: none;
  color: black;
  padding: 16 px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16 px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.button1 {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20 px;
}

.button1:hover {
  background-color: white;
  color: black;
}
